/* Base */
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";
@import "./base/containers";
@import "./base/sticky-footer";

/* Blocks */
@import "./blocks/*.scss";


.main {
  background: var(--main-screen-bg);
  height: 85vh;
  @media screen and (max-width: 880px) {
    height: fit-content;
    padding: 30px 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 880px) {
      flex-direction: column-reverse;
      //align-items: revert;
    }
  }
  &__text {
    max-width: 500px;
    @media screen and (max-width: 880px) {
      text-align: center;
      max-width: none;
    }
    .title {
      color: var(--text-color-dark);
      font-size: 64px;
      font-weight: 700;
      line-height: 74px;
      width: 600px;
      margin-bottom: 32px;
      @media screen and (max-width: 960px) {
        font-size: 44px;
        line-height: 54px;
        margin-bottom: 15px;
        width: auto;
      }

    }
    .subtitle {
      color: var(--text-color-dark);
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.8px;
      max-width: 425px;
      margin-bottom: 71px;
      @media screen and (max-width: 960px) {
        margin-bottom: 50px;
      }
      @media screen and (max-width: 880px) {
        max-width: none;
      }
    }
  }
  &__img {
    img {
      @media screen and (max-width: 880px) {
        width: 370px;
      }
    }
  }
}
.help {
  background-color: var(--page-bg);
  padding: 192px 0 212px 0;
  @media screen and (max-width: 960px) {
    padding: 120px 0;
  }
  @media screen and (max-width: 755px) {
    padding: 40px 0;
  }
  .container {
    max-width: 940px;
    display: grid;
    grid-template-areas: "title card1"
                        "card2 card1"
                        "card2 card3"
                        "empty card3";
    row-gap: 100px;
    column-gap: 100px;
    //justify-content: space-between;
    @media screen and (max-width: 960px) {
      row-gap: 50px;
      column-gap: 50px;
    }
    @media screen and (max-width: 755px) {
      grid-template-areas: none;
      display: flex;
      flex-direction: column;
    }
  }
  &__title {
    grid-area: title;
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 1.8px;
    max-width: 358px;
    color: var(--text-second);
    margin-bottom: 58px;
    @media screen and (max-width: 960px) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 0;
    }
    @media screen and (max-width: 755px) {
      max-width: none;
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &__card {
    display: flex;
    .card__info {
      width: 380px;
      height: 525px;
      background-color: var(--page-bg);
      box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
      border-radius: 10px;
      padding: 48px;
      @media screen and (max-width: 960px) {
        padding: 20px;
        width: auto;
        height: 450px;
        min-width: 340px;
      }
      .head {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 51px;
        &__before {
          position: absolute;
          top: -75px;
        }
      }
      .title {
        color: var(--text-color-dark);
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 1px;
        margin-bottom: 16px;
      }
      .subtitle {
        color: var(--text-color-dark);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: 0.8px;
        margin-bottom: 32px;
      }
      .link {
        color: var(--txt-link);
        display: flex;
        align-items: center;
        column-gap: 24px;
        font-size: 14px;
        font-weight: 600;
        line-height: 30px; /* 214.286% */
        letter-spacing: 0.7px;
      }
    }
  }
  .card1 {
    grid-area: card1;
    justify-content: flex-start;
  }
  .card2 {
    grid-area: card2;
    justify-content: flex-end;
  }
  .card3 {
    grid-area: card3;
    justify-content: flex-start;
  }
}
.blue {
  //height: 10;
  background-color: var(--accent);
  border-radius: 200px 0px 0px 0px;
  padding: 96px 0 0 0;
  color: var(--text-white);
  @media screen and (max-width: 750px) {
    padding: 40px 0 0 0;
  }
  .container {
    max-width: 940px;
    margin-bottom: 125px;
    @media screen and (max-width: 950px) {
      max-width: 750px;
    }
    @media screen and (max-width: 755px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }
  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 97px;
    margin-bottom: 111px;
    @media screen and (max-width: 960px) {
      column-gap: 15px;
      justify-content: space-between;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 755px) {
      margin-bottom: 25px;
      flex-direction: column;
      text-align: end;
    }
    .container {

    }
    .title {
      font-size: 36px;
      font-weight: 600;
      line-height: 46px; /* 127.778% */
      letter-spacing: 1.8px;
      max-width: 244px;
      @media screen and (max-width: 960px) {
        font-size: 30px;
        line-height: 45px;
        max-width: none;
      }
      @media screen and (max-width: 755px) {
        max-width: none;
        width: 100%;
      }
      @media screen and (max-width: 550px) {
        padding-left: 50px;
      }
    }
    .subtitle {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      letter-spacing: 0.8px;
      max-width: 540px;
      @media screen and (max-width: 755px) {
        max-width: none;
        padding-left: 15px;
      }
      @media screen and (max-width: 755px) {
        font-size: 14px;
      }
    }
  }
  &__table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    .table__row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      &:not(:last-child) {
        border-bottom: 1px solid white;
      }
      .table__item {
        padding: 41px 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @media screen and (max-width: 755px) {
          padding: 15px 20px;
          font-size: 14px;
        }
        @media screen and (max-width: 550px) {
          padding: 10px;
        }
        &.link {
          background-color: var(--text-color-dark-alpha);
        }
        &:not(:last-child) {
          border-right: 1px solid white;
        }
      }
    }
  }
  .dark-blue {
    //max-width: 90%;

    //background-color: var(--page-bg-second);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 90%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--page-bg-second);
      border-radius: 0px 200px 0px 0px;
      min-width: 1260px;
      @media screen and (max-width: 1260px) {
        min-width: auto;
        width: 100%;
      }
    }
    .interested {
      padding: 91px 0 96px 0;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 755px) {
        padding: 40px;
      }
      &__text {
        .title {
          font-size: 36px;
          font-weight: 600;
          line-height: 46px; /* 127.778% */
          letter-spacing: 1.8px;
          margin-bottom: 32px;
          max-width: 330px;
          @media screen and (max-width: 960px) {
            font-size: 30px;
            line-height: 30px;
          }
          @media screen and (max-width: 550px) {
            margin-bottom: 10px;
          }
        }
        .subtitle {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px; /* 162.5% */
          letter-spacing: 0.8px;
          max-width: 460px;
        }
      }
      .container {
        //max-width: 860px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 180px;
        margin-bottom: 0;
        @media screen and (max-width: 755px) {
          column-gap: 0;
        }
        @media screen and (max-width: 755px) {
          flex-direction: column;
          row-gap: 10px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        border-bottom: 1px solid white;
        z-index: -1;
        @media screen and (max-width: 550px) {
          width: 100%;
        }
      }
    }
    .footer {
      padding: 96px 0 64px 0;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 550px) {
        padding: 40px 0;
      }
      .container {
        margin-bottom: 0;
      }
      &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 64px;
        @media screen and (max-width: 550px) {
          flex-direction: column;
          //justify-content: center;
          //align-items: center;
        }
        .document {
          @media screen and (max-width: 550px) {
            margin-bottom: 30px;
          }
          .logo {
            display: flex;
            column-gap: 15px;
            align-items: center;
            margin-bottom: 40px;
            @media screen and (max-width: 550px) {
              margin-bottom: 30px;
            }
            img {
              width: 48px;
              height: 32px;
            }
            &__text {
              font-size: 28px;
              font-weight: 600;
              line-height: 46px; /* 164.286% */
              letter-spacing: 0.56px;
            }
          }
          .list {
            &__item {
              display: flex;
              align-items: flex-start;
              column-gap: 16px;
              @media screen and (max-width: 755px) {
                column-gap: 10px;
              }
              &:not(:last-child) {
                margin-bottom: 24px;
                @media screen and (max-width: 550px) {
                  margin-bottom: 10px;
                }
              }
              .market {
                font-size: 16px;
                font-weight: 600;
                line-height: 26px; /* 162.5% */
                letter-spacing: 0.8px;
              }
              .text {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px; /* 162.5% */
                letter-spacing: 0.8px;
                max-width: 260px;
                @media screen and (max-width: 550px) {
                  max-width: none;
                }
              }
            }
          }
        }
        .menu {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          column-gap: 75px;
          @media screen and (max-width: 755px) {
            column-gap: 20px;
          }
          &__list {
            .title {
              font-size: 20px;
              font-weight: 600;
              line-height: 30px; /* 150% */
              letter-spacing: 1px;
              margin-bottom: 32px;
            }
            .nav {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              row-gap: 16px;
              a {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; /* 162.5% */
                letter-spacing: 0.8px;
                color: var(--text-white);
              }
            }
          }
        }
      }
      &__rights {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        letter-spacing: 0.8px;
        opacity: 0.4;
      }
    }
  }
}


.button {
  background-color: var(--accent);
  color: var(--text-white);
  width: 220px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0.64px;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.20);
  cursor: pointer;
}
